header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  height: 60px;

  .h-left,
  .h-right {
    display: flex;
    flex-basis: 25%;
    justify-content: center;
    align-items: center;

    img {
      height: $logoSmall;
    }
  }

  .h-right {
    button {
      margin-left: 10px;
      border: none;
      background-color: #fff;
      padding: 5px;
      font-size: $size1;

      &:hover {
        background-color: #1473e6;
        color: #fff;
        border-radius: 5px;
      }
    }

    i {
      cursor: pointer;
    }
  }

  .h-center {
    flex-basis: 50%;
    display: flex;
    justify-content: center;

    ul li {
      display: inline-block;
      margin-right: 15px;

      a {
        text-decoration: none;
        font-size: $size1;
        color: #000;
        font-weight: 600;

        &:hover {
          color: $primary;
        }
      }
    }
  }

}
.sub-header{
  height: auto;
  min-height: 70px;
  background-color: #d8e3e7;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  


  // bottom: 0;
  // left: 0;
  ul li{
    display: inline-block;
    margin-right: 15px;
    font-size: $size1;
    &:hover{
      color: $primary;
      cursor: pointer;
    }
  }
}
