.hero {
  background-image: url("https://cc-prod.scene7.com/is/image/CCProdAuthor/dt-ps-max-poster-image?$pjpeg$&jpegSize=300&wid=1440");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 170px;

  .hero-content {
    color: #fff;

    img {
      height: $logoMedium;
    }

    h2 {
      font-size: $size5;
    }

    h3 {
      font-size: $size3;
      margin: 20px 0;
    }

    .btn {
      border: 1px solid white;
      border-radius: 10px;
      padding: 5px 10px;
      margin-top: 10px;
      margin-right: 15px;
      font-size: $size3;
      font-weight: 600;
      color: #fff;
      background-color: transparent;
    }
    #buy{
      background-color: $primary;
      border-color: $primary;

    }
  }
}
