// CONTAINERS
$largeWrapper: 1180px;
$mediumWrapper: 900px;

// FONTS
$size1: 14px;
$size2: 16px;
$size3: 22px;
$size4: 36px;
$size5: 44px;


// LOGOS
$logoSmall: 30px;
$logoMedium: 45px;


// COLORS

$primary: #1473e6;
